body {
    font-family: sans-serif;
}

.header {
    height: 72px;
    margin: 0;
    background-color: #006699;
    color: white;
}

.footer {
    height: 72px;
    margin: 0;
    background-color: #006699;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}