body {
    font-family: sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    padding: 20px 0px 20px 100px;
}

.headerLogo {

}

.headerLink {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.headerLink a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 100px;
}

.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #006699;
    color: white;
}

button {
    display: flex;
    background: #0099ff;
    color: white;
    border-radius: 2px;
    margin: 0;
    text-transform: none;
}